# Dependencies
node_modules/

# Compilation output
/dist
/build
/lib
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache

# Environment variables
.env
.env.development
.env.production
!.env.example # keep the example file

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
